<h1>{{name}}</h1>

<h4>Add an item to this lot</h4>
<form>
  <div class="form-group">
    <label for="artifact-name">Name</label>
    {{input id="artifact-name" class="form-control" value=title}}
  </div>

  <div class="form-group">
    <label for="owner">Owner</label>
    {{input id="owner" class="form-control" value=owner}}
  </div>

  <div class="form-group">
    <label for="starting-bid">Starting Bid Price</label>
    {{input id="starting-bid" class="form-control" value=starting-bid}}
  </div>

  <div class="form-group">
    <label for="artifact-image">Enter Image URL here</label>
    {{input id="artifact-image" class="form-control" value=artifact-image}}
  </div>

</form>
