<h1>{{name}}</h1>

<h4>Add an item to this lot</h4>
{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="artifact-name">Name</label>
    {{input id="artifact-name" class="form-control" value=artifact-name}}
  </div>

  <div class="form-group">
    <label for="owner">Owner</label>
    {{input id="owner" class="form-control" value=owner}}
  </div>

  <div class="form-group">
    <label for="starting-bid">Starting Bid Price</label>
    {{input id="starting-bid" class="form-control" value=starting-bid}}
  </div>

  <div class="form-group">
    <label for="artifact-image">Enter Image URL here</label>
    {{input id="artifact-image" class="form-control" value=artifact-image}}
  </div>
  <button name="btn btn-primary" {{action 'save'}}>Submit</button>
</form>
{{else}}
<br>
  <!-- <p>{{item.artifactName}}{{item.owner}}{{item.startingBid}}</p> -->
<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
<br>
{{/if}}

{{#each item in items itemController="change-bid"}}{{item.startingBid}}

  <ul class="list-unstyled">
    <li class="list-item">
      <div class="row">
        <div class="col-xs-2">
          <img {{bind-attr src="item.artifactImage" alt="an image of the auction item"}}>
        </div>
        <div class="col-xs-10">
          Name: {{item.artifactName}}
          <br>
          Owner: {{item.owner}}
          <br>
          Starting Bid: {{item.startingBid}}
          <br>
       </div>
     </div>
   </li>
  </ul>


<button class="btn btn-xs btn-danger" {{action 'delete'}}>Delete</button>

{{/each}}
