<h1>{{name}}</h1>
<button class="btn btn-xs btn-danger" {{action 'delete'}}>Delete</button>

<h4>Add an item to this lot</h4>
<form>
  <div class="form-group">
    <label for="artifact-name">Name</label>
    {{input id="artifact-name" class="form-control" value=artifact-name}}
  </div>

  <div class="form-group">
    <label for="owner">Owner</label>
    {{input id="owner" class="form-control" value=owner}}
  </div>

  <div class="form-group">
    <label for="starting-bid">Starting Bid Price</label>
    {{input id="starting-bid" class="form-control" value=starting-bid}}
  </div>

  <div class="form-group">
    <label for="artifact-image">Enter Image URL here</label>
    {{input id="artifact-image" class="form-control" value=artifact-image}}
  </div>
  <button name="btn btn-primary" {{action 'save'}}>Submit</button>
</form>

{{#each item in items itemController="lot"}}
<ul>
  <li>Name: {{item.artifactName}}</li>
  <li>Owner: {{item.owner}}</li>
  <li>Starting Bid: {{item.startingBid}}</li>
  <li><img {{bind-attr src="item.artifactImage" alt="an image of the auction item"}}></li>
</ul>
{{/each}}
