 <h1>Willoughby's</h1>
 <form class="form" role="form">
    <div class="form-group">
        <label for="name">Lot Name</label>
        {{input id="name" class="form-control" value=name}}
    </div>
    <button class="btn btn-primary" {{action 'save'}}>Save</button>
 </form>


<ul>
  {{#each}}
    <li>{{#link-to 'lot' lot}}{{lot}}{{name}}{{id}}{{/link-to}}</li>
  {{/each}}
</ul>
